nav
    .nav-wrapper
        a.brand-logo(href='#!')
        a.button-collapse(href='#', data-activates='mobile-demo')
            i.fa.fa-bars.fa-3x
        ul.right.hide-on-med-and-down
            li
                a(href='/') HOME
            li
                a(href='#portfolio') PORTFOLIO
            li
                a(href='#about') ABOUT
            li
                a(href='/blog') BLOG
        ul#mobile-demo.side-nav
            .center
                li
                    a(href='/') HOME
                li
                    a(href='#portfolio') PORTFOLIO
                li
                    a(href='#about') ABOUT
                li
                    a(href='/blog') BLOG
