nav
    .nav-wrapper
        a.brand-logo(href='#!')
        a.button-collapse(href='#', data-activates='mobile-demo')
            i.fa.fa-bars.fa-3x
        ul.right.hide-on-med-and-down
            li
                a(href='#') ABOUT
            li
                a(href='#') BLOG
            li
                a(href='#') PORTFOLIO
        ul#mobile-demo.side-nav
            .center
                li
                    a(href='#') ABOUT
                li
                    a(href='#') BLOG
                li
                    a(href='#') PORTFOLIO
