extends layout
block css/scripts
	link(rel='stylesheet', href='/css/flipperBox.css')
	link(rel='stylesheet', href='/css/hoverEffect.css')
	link(rel='stylesheet', href='/css/index.css')
	script(src="/js/index.js")

block content
	include ./partials/navBar

	section#home
		.container
			.col.l12
				.intro
					h1 CREATOR
					h1 THINKER
					h1 NERD