extends layout
block css/scripts
    link(rel='stylesheet', href='/css/index.css')
    script(src="/js/index.js")

block content
    include ./partials/navBar

    #home
        .container
            .row
                .col.l12.s12
                    p(aria-label="CodePen")
                        span(data-text="G") G
                        span(data-text="E") E
                        span(data-text="E") E
                        span(data-text="")
                        span(data-text="B") B
                        span(data-text="A") A
                        span(data-text="R") R
                        span(data-text="R") R
                        span(data-text="O") O
                        span(data-text="N") N
                    .Iam
                        b
                            .innerIam
                                | CREATOR
                                br
                                |     THINKER
                                br
                                |     NERD
                                br
                                |     BEAUTIFUL


