@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

body {
    margin: 0;
    padding: 0;
    background-color: #EAEBED;
    font-family: Arial;
}

html, body{
    height: 100%;
    font-weight: 800;
}

#home {
    background-image: url("/img/fun.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: table;
}

p {
    text-align: center;
    color: #EAEBED;
    font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
    font-size: 6.4em;
    font-weight: 700;
}
p span {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 500;
    perspective: 500;
    -webkit-font-smoothing: antialiased;
}
p span::before,
p span::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    content: attr(data-text);
}
p span::before {
    z-index: 1;
    color: rgba(0,0,0,0.2);
    -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
    transform: scale(1.1, 1) skew(0deg, 20deg);
}
p span::after {
    z-index: 2;
    color: #dc6c44;
    text-shadow: -1px 0 1px #dc6c44, 1px 0 1px rgba(0,0,0,0.8);
    -webkit-transform: rotateY(-40deg);
    transform: rotateY(-40deg);
}
p span:hover::before {
    -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
    transform: scale(1.1, 1) skew(0deg, 5deg);
}
p span:hover::after {
    -webkit-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
}
p span + span {
    margin-left: 0.3em;
}

p span::before,
p span::after {
    display: block;
}

@media (min-width: 1920px) {
    p {
        font-size: 7.4em;
    }
}

@media (min-width: 1280px) {
    p {
        font-size: 6.4em;
    }
}

@media (min-width: 1024px) {
    p {
        font-size: 5.3em;
    }
}

@media (min-width: 1600px) {
    p {
        font-size: 8.1em;
    }
}

.Iam {
    padding: 2em 5em;
    font: normal 60px/50px Montserrat, sans-serif;
    color: #999;
}
.Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
}
.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: -70px;
    left: 28%;
}
.Iam .innerIam {
    display: inline-block;
    color: #EAEBED;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;


    /*animation*/
    -webkit-animation:move 5s;
    -moz-animation:move 5s;
    -ms-animation:move 5s;
    -o-animation:move 5s;
    animation:move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}
@keyframes move{
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}}